
*.timestamp

*.pcm

*.idx

*.strings-sym

*.strings-res

*.strings-moduleurl

*.strings-file

DerivedData/LGYDemo/Index/Debug/iphoneos9.2-arm64/LGYDemo.xcindex/db.xcindexdb.strings-dir

*.strings-cmp

*.xcindexdb-wal

*.xcindexdb-wal

*.xcindexdb-wal

*.xcindexdb

*.LinkFileList
